.position-absolute {
  top: 0;
  left: 0;
}
.add-new {
  background-color: #1a9bfc;
  border-radius: 20px;
  width: max-content;
}
.text-color {
  color: #c58dff;
}
.plus {
  height: 20px;
  width: 20px;
  &:before {
    content: "+";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cal-icon1,
.cal-icon2,
.cal-icon3 {
  padding: 18px 20px;
}
.specs-icon {
  background-color: #e3f3ff;
  padding: 18px;
}
.cal-icon1 {
  background-color: #f7efff;
}
.cal-icon2 {
  background-color: #ffe9ed;
}
.cal-icon3 {
  background-color: #e7f9ef;
}
