.table-head {
  font-size: 14px;
}

.table > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table > :not(:first-child) {
  border-top: 0;
}
.font-dms {
  font-size: 14px;
}
.percent {
  font-size: 21px;
}
.percent1 {
  color: #be7fff;
}
.percent2 {
  color: #fea10f;
}
.percent3 {
  color: #1a9bfc;
}
.percent4 {
  color: #39cb7f;
}
.percent5 {
  color: #fc4b6c;
}
.available-status {
  background-color: #1a9bfc;
  padding: 5px 10px;
  width: fit-content;
}
.inclass-status {
  background-color: #1e4db7;
  padding: 5px 10px;
  width: fit-content;
}
.onleave-status {
  background-color: #fc924b;
  padding: 5px 10px;
  width: fit-content;
}
